In [1]:
import pandas as pd
import numpy as np

In [2]:
# ---------------------------------------------------------
# 1. CARREGAMENTO DOS DADOS
# ---------------------------------------------------------
print("Carregando arquivos...")
f_reservas = pd.read_csv('f_reservas.csv')

Carregando arquivos...

FileNotFoundError: [Errno 2] No such file or directory: 'f_reservas.csv'

In [15]:
# ---------------------------------------------------------
# 1. CARREGAMENTO DOS DADOS
# ---------------------------------------------------------
print("Carregando arquivos...")
f_reservas = pd.read_csv('f_reservas.csv')

Carregando arquivos...

In [16]:
f_reservas[f_reservas['reserva_id'].duplicated(keep=False)]

,reserva_id,data_reserva_id,data_cancelamento_id,motivo_cancelamento_id,checkin_id,checkout_id,hotel_id,hospede_id,canal_id,agencia_id,rate_plan_id,tipo_quarto,status,adultos,criancas,valor_previsto,desconto,moeda
408,409,20240325,NaN,NaN,20240402,20240405,1,1212,3,1.0,1,Standard,Finalizada,1,0,982.57,30.63,BRL
1815,1816,20241004,NaN,NaN,20241011,20241012,2,4957,2,NaN,1,Deluxe,Finalizada,1,2,452.90,0.00,BRL
2276,2277,20240509,NaN,NaN,20240511,20240515,1,3828,1,NaN,2,Superior,Finalizada,1,2,1555.17,0.00,BRL
2561,2562,20250315,NaN,NaN,20250401,20250403,6,10997,1,NaN,1,Standard,Finalizada,1,0,798.76,33.84,BRL
2683,2684,20240118,NaN,NaN,20240124,20240125,2,4916,5,NaN,4,Deluxe,Finalizada,2,2,487.25,0.00,BRL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32075,2684,20240118,NaN,NaN,20240124,20240125,2,4916,5,NaN,4,Deluxe,Finalizada,2,2,487.25,0.00,BRL
32076,21255,20240724,NaN,NaN,20240801,20240803,1,5722,1,NaN,1,Deluxe,Finalizada,1,2,1128.11,0.00,BRL
32077,25301,20240529,NaN,NaN,20240610,20240611,5,2094,1,NaN,1,Standard,Finalizada,1,2,225.91,16.67,BRL
32078,10869,20250228,20250305.0,3.0,20250309,20250312,2,11906,5,NaN,1,Standard,Cancelada,2,0,782.05,0.00,BRL
32079,15432,20240523,20240524.0,5.0,20240527,20240531,6,8623,5,NaN,3,Familia,Cancelada,1,1,1291.48,0.00,BRL

In [17]:
f_reservas = f_reservas.drop_duplicates(subset='reserva_id', keep='first')

In [18]:
antes = len(f_reservas)
f_reservas = f_reservas.drop_duplicates(subset='reserva_id')
depois = len(f_reservas)

print(f'Removidas {antes - depois} linhas duplicadas')

Removidas 0 linhas duplicadas

In [19]:
f_reservas['reserva_id'].duplicated().any()

False

In [20]:
f_reservas.to_csv('f_reservas_sem_duplicadas.csv', index=False)

In [21]:
df_reservas= pd.read_csv('f_reservas_sem_duplicadas.csv')

In [22]:
df_reservas.isna().sum()

reserva_id                    0
data_reserva_id               0
data_cancelamento_id      26394
motivo_cancelamento_id    26394
checkin_id                    0
checkout_id                   0
hotel_id                      0
hospede_id                    0
canal_id                      0
agencia_id                14206
rate_plan_id                  0
tipo_quarto                   0
status                        0
adultos                       0
criancas                      0
valor_previsto              160
desconto                      0
moeda                         0
dtype: int64

In [23]:
(df_reservas['valor_previsto'] < 0).sum()

0

In [26]:
df_diarias= pd.read_csv('f_diarias.csv')

In [27]:
(df_diarias['receita_diarias'] < 0).sum()

39

In [28]:
df_diarias[df_diarias['receita_diarias'] < 0]

,hotel_id,data_id,tipo_quarto,quartos_vendidos,adr_estimado,receita_diarias
1142,1,20250215,Superior,27,376.42,-10163.21
1386,1,20251017,Superior,23,398.99,-9176.74
2406,1,20240801,Suite,7,730.69,-5114.86
4229,2,20250728,Standard,40,295.43,-11817.28
5194,2,20240318,Deluxe,15,429.01,-6435.20
5931,2,20240324,Suite,6,540.39,-3242.34
5945,2,20240407,Suite,7,932.03,-6524.22
6711,2,20240512,Familia,7,682.30,-4776.10
7932,3,20250914,Standard,34,280.67,-9542.87
8347,3,20241102,Superior,27,330.86,-8933.22
9397,3,20250917,Deluxe,8,502.68,-4021.40
9687,3,20240703,Suite,4,722.36,-2889.42
9759,3,20240913,Suite,3,686.20,-2058.59
9929,3,20250302,Suite,4,712.58,-2850.31
10518,3,20241011,Familia,5,544.86,-2724.28
11027,4,20240303,Standard,46,252.58,-11618.66
12316,4,20250912,Superior,25,277.02,-6925.45
12855,4,20250304,Deluxe,16,506.74,-8107.89
13011,4,20250807,Deluxe,16,480.75,-7692.02
13173,4,20240116,Suite,7,683.98,-4787.89
13307,4,20240529,Suite,5,638.13,-3190.63
13778,4,20250912,Suite,4,630.87,-2523.49
14038,4,20240529,Familia,8,521.36,-4170.85
15218,5,20250821,Standard,25,270.60,-6764.91
15598,5,20240904,Superior,15,377.72,-5665.87
15665,5,20241110,Superior,19,321.80,-6114.14
15697,5,20241212,Superior,15,435.66,-6534.93
15779,5,20250304,Superior,23,264.36,-6080.34
16155,5,20240314,Deluxe,11,500.24,-5502.67
17115,5,20241029,Suite,3,715.75,-2147.25
18534,6,20240916,Standard,34,335.41,-11403.79
18602,6,20241123,Standard,38,396.09,-15051.47
18735,6,20250405,Standard,39,363.62,-14181.35
19055,6,20240219,Superior,36,519.77,-18711.87
19913,6,20240625,Deluxe,17,548.86,-9330.64
20303,6,20250720,Deluxe,22,750.26,-16505.62
20379,6,20251004,Deluxe,18,522.59,-9406.61
20497,6,20240130,Suite,9,793.06,-7137.50
21351,6,20240601,Familia,10,676.73,-6767.35

In [29]:
negativas = df_diarias[df_diarias['receita_diarias'] < 0]

negativas.to_csv(
    'df_diarias_receita_negativa.csv',
    index=False,
    encoding='utf-8-sig'
)

In [30]:
df_diarias = df_diarias[df_diarias['receita_diarias'] >= 0]

In [31]:
# Quantas foram removidas
len(negativas)

# Confirmar que não restaram negativas
(df_diarias['receita_diarias'] < 0).any()

False

In [33]:
df_diarias.to_csv('f_diarias_sem_valor_negativo.csv', index=False)

In [ ]:
df_reviews= pd.read_csv('f_reviews.csv')